* {
padding: 0%;
margin: 0%;
}

:root{--nave-color:#00091a}
:root{--BodY-color:#00091a}
:root{--FooTer-colore:#00091a}

nav{
    text-align: left;
    display: inline-flex;
    background: var(--nave-color);
    width: 100%;
    height: 50px;
    box-shadow: black 1px 10px 15px;
}
nav div{
    display: inline-flex;
    width: 5%;
    padding-left: 0px;
    position: relative;
}
#perf{
    border-radius: 100%;
    width: 40px;
    height: 40px;
    margin-top: 5px;
    margin-left: 15px;
}

nav ul{
    padding-left: 35px;


}

nav ul li{
    text-align: left;
    margin-top: 13px;
    list-style: none;
    display: inline-flex;
    padding-left: 10px;
    border-left:solid rgb(251, 247, 229);;
}
#listlast{
    padding-right: 5px;
    border-right: solid rgb(251, 247, 229);;
}
nav ul li a{
    color: rgb(251, 247, 229);
    text-decoration-line: none;
    font-size: 20px;
    font-family:courier ;
    text-transform: uppercase;
    padding-right: 8px;
}

nav ul li a:hover{

    text-shadow: white 1px 1px 10px;
}

body{
    margin-top: 0%;
    margin-bottom: 0%;
    height: 100%;
    background: var(--BodY-color);
    background-image: url(asset/headimage.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

header{
    padding: 0px;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-color:rgb(8, 10, 12);
    color: rgb(251, 247, 229);
    font-family: courier;
    text-align: center;
    
}
header h1{
    font-size: 65px;
    font-family: 'Crimson Text', sans-serif; ;
    font-style: italic;
}
header h3{
    margin-top: -15px;
}
main{

    display: inline-flex;
    justify-content: center;
}

.main{
    text-align: center;
    border-radius: 10px;
    border: rgba(250, 235, 215, 0.637) solid 2px;
    margin-left: 10%;
    background: rgba(0, 0, 0, 0.65);
    display: flex;
    width: 80%;
    height: 80%;

}
main section{
    font-weight:auto;
    padding: 30px;
    height: 80%;
    width: 80%;
    text-align: center;
}

#art1 h2{
    padding: 10%;
    display: inline-block;
    color: rgb(250, 235, 215);
    text-align: center;
    font-size: 5em;
    font-family: 'Lobster', cursive;
    animation-name: h1intro;
    animation-duration: 4s;
    animation-timing-function: ease-in;
    animation-fill-mode: initial;
}
@keyframes h1intro{

    0%{
        color: rgba(255, 235, 205, 0);
    }
    50%{
        color: rgba(255, 235, 205, 0);

    }
    100%{
        color: blanchedalmond;
    }
}

#art1 h3{
    padding-bottom: 10%;
    display: inline-block;
    color: antiquewhite;
    text-align: center;
    font-size: 2em;
    font-family: 'Lobster', cursive;

}

#estoy{
    animation-name:estoy;
    animation-duration: 7s;
    animation-timing-function: ease-in;
    animation-fill-mode: initial;

}
@keyframes estoy{

    0%{
        color: rgba(255, 235, 205, 0);
    }
    50%{
            color: rgba(255, 235, 205, 0);
    }
    86%{

        color: rgba(255, 235, 205, 0);
        text-shadow: rgba(255, 255, 240, 0) 1px 1px 30px;
    }
    86.5%{

        text-shadow: rgb(255, 255, 240) 1px 1px 30px;
    }

    89%{
        text-shadow: rgb(255, 255, 240) 1px 1px 30px;
    }

    92%{

        text-shadow: rgba(255, 255, 240, 0) 1px 1px 30px;
    }
    100%{
       
        color: antiquewhite;
        
    }

}

#aqui{
    animation-name:aqui;
    animation-duration: 7s;
    animation-timing-function: ease-in;
    animation-fill-mode: initial;

}

@keyframes aqui{

    0%{
        color: rgba(255, 235, 205, 0);
    }
    50%{
            color: rgba(255, 235, 205, 0);
    }
    88%{

        color: rgba(255, 235, 205, 0);
        text-shadow: rgba(255, 255, 240, 0) 1px 1px 30px;
    }
    88.5%{

        text-shadow: rgb(255, 255, 240) 1px 1px 30px;
    }

    91%{
        text-shadow: rgb(255, 255, 240) 1px 1px 30px;
    }

    93%{

        text-shadow: rgba(255, 255, 240, 0) 1px 1px 30px;
    }
    100%{
       
        color: antiquewhite;
        text-shadow: rgba(255, 255, 240, 0) 1px 1px 30px;
    }

}

#para{
    animation-name:para;
    animation-duration: 7s;
    animation-timing-function: ease-in;
    animation-fill-mode: initial;

}

@keyframes para{

    0%{
        color: rgba(255, 235, 205, 0);
    }
    50%{
            color: rgba(255, 235, 205, 0);
    }
    90%{

        color: rgba(255, 235, 205, 0);
        text-shadow: rgba(255, 255, 240, 0) 1px 1px 30px;
    }

    90.5%{

        text-shadow: rgb(255, 255, 240) 1px 1px 30px;
    }

    93%{
        text-shadow: rgb(255, 255, 240) 1px 1px 30px;
    }

    94%{

        text-shadow: rgba(255, 255, 240, 0) 1px 1px 30px;
    }
    100%{
       
        color: antiquewhite;
    }

}

#hacer{
    animation-name:hacer;
    animation-duration: 7s;
    animation-timing-function: ease-in;
    animation-fill-mode: initial;

}

@keyframes hacer{

    0%{
        color: rgba(255, 235, 205, 0);
    }
    50%{
            color: rgba(255, 235, 205, 0);
    }
    92%{

        color: rgba(255, 235, 205, 0);
        text-shadow: rgba(255, 255, 240, 0) 1px 1px 30px;
    }

    92.5%{

        text-shadow: rgb(255, 255, 240) 1px 1px 30px;
    }

    95%{
        text-shadow: rgb(255, 255, 240) 1px 1px 30px;
    }

    97%{

        text-shadow: rgba(255, 255, 240, 0) 1px 1px 30px;
    }
    100%{
       
        color: antiquewhite;
    }

}

#hermosas{
    animation-name:hermosas;
    animation-duration: 7s;
    animation-timing-function: ease-in;
    animation-fill-mode: initial;

}

@keyframes hermosas{

    0%{
        color: rgba(255, 235, 205, 0);
    }
    50%{
            color: rgba(255, 235, 205, 0);
    }
    94%{

        color: rgba(255, 235, 205, 0);
        text-shadow: rgba(255, 255, 240, 0) 1px 1px 30px;
    }

    94.5%{

        text-shadow: rgb(255, 255, 240) 1px 1px 30px;
    }

    96%{
        text-shadow: rgb(255, 255, 240) 1px 1px 30px;
    }

    98%{

        text-shadow: rgba(255, 255, 240, 0) 1px 1px 30px;
    }
    100%{
       
        color: antiquewhite;
    }

}

#paginas{
    animation-name:paginas;
    animation-duration: 7s;
    animation-timing-function: ease-in;
    animation-fill-mode: initial;

}

@keyframes paginas{

    0%{
        color: rgba(255, 235, 205, 0);
    }
    50%{
            color: rgba(255, 235, 205, 0);
    }
    96%{

        color: rgba(255, 235, 205, 0);
        text-shadow: rgba(255, 255, 240, 0) 1px 1px 30px;
    }

    96.5%{

        text-shadow: rgb(255, 255, 240) 1px 1px 30px;
    }

    98%{
        text-shadow: rgb(255, 255, 240) 1px 1px 30px;
    }

    100%{
       
        color: antiquewhite;
        text-shadow: rgba(255, 255, 240, 0) 1px 1px 30px;
    }

}

#web{
    animation-name:web;
    animation-duration: 7s;
    animation-timing-function: ease-in;
    animation-fill-mode: initial;

}

@keyframes web{

    0%{
        color: rgba(255, 235, 205, 0);
    }
    50%{
            color: rgba(255, 235, 205, 0);
    }
    98%{

        color: rgba(255, 235, 205, 0);
        text-shadow: rgba(255, 255, 240, 0) 1px 1px 30px;
    }

    98.5%{

        text-shadow: rgb(255, 255, 240) 1px 1px 30px;
    }

    99.5%{
        text-shadow: rgb(255, 255, 240) 1px 1px 30px;
    }

    100%{
       
        color: antiquewhite;
        text-shadow: rgba(255, 255, 240, 0) 1px 1px 30px;
    }

}
footer{
    padding: 3%;
    height: 100%;
    width: 100%;
    margin-bottom: 0px;
    margin-top: 20px;
    text-align: center;
    background: rgba(0, 0, 0, 0.65);
    color: blanchedalmond;
    justify-content: center;
}

@media only screen and (max-width:720px){

header h1{

    font-size: 55px;
}

#art1 h2{
    font-size: 2em;
}

#art1 h3{

    font-size: 1em;

    
}
